<h1>Hello Rails!</h1>

Our blog has <%= Article.public_count %> articles.

<!-- Place a login button anywhere on your application -->

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <a href="<%= article_path(article) %>">
          <%= article.title %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'New Article', new_article_path %>

<% if session[:userinfo].present? %>
  <p>Logged in as <%= session[:userinfo]["nickname"] %></p>
  <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
<% else %>
  <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
<% end %>

<!-- Place a logout button anywhere on your application -->

